.nav-link{
	color: #010101;
	font-size: 18px;
	padding: 0px 10px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}
 .nav-link:hover{
	background-image: linear-gradient(to right top, #cd12eb, #a727be, #832d92, #602c69, #3f2842);
	color: #ffffff;
	border-radius: 10px;
}
.d-flex{
	display: flex;
} 
.justify-content-center{
	display: flex;
	justify-content: center;
}
ul{
	list-style-type: none;
}
h1{
	font-family: 'Roboto', sans-serif;
	
}
.body-link{
	color: black;
	font-size: 23px;
	padding: 10px ;
	margin: 10px ;
    border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	border: none ;
	text-align: center;
	width: 30%;
	background: transparent;
	outline:none;
	position:relative;
	cursor: pointer;
	transition: all 0.5s;
}
.body-link:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    transition: all 0.5s;
}
.body-link:hover::before{
    width: 100%;
}
.body-link:hover  {
	background-image: linear-gradient(to right top, #cd12eb, #a727be, #832d92, #602c69, #3f2842);
	background-size: 100%;
    transform: scale(1.1);
    z-index: 2;
    border:white;
    text-decoration: none;
}
.body-link a {
	color:black;
	font-size: 23px;
	padding: 10px 20px;
	margin: 10px 20px;
}	
.body-link a:hover {
	text-decoration: none;
	color: white;
	transform: scale(1.1);
}
.mb-50{
	margin: 50px;
}
.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 2px solid #fff;
background-image: linear-gradient(to right top, #051937, #004b74, #0084aa, #00c1d0, #11ffe3);
}
.responstable tr {
  border: 2pt solid #fff;
}
.responstable th {
  display: none;
  border: 2pt solid white;
  color: #FFF;
  padding: 1em;
  text-transform:uppercase;
 
}

.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}

@media (min-width: 480px) {
  .responstable td {
    border: 2px solid #fff;
  }
}
.responstable th, .responstable td {
  text-align: center;
  margin: .5em 1em;
  color: white;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}

